.box{
    font-size: 72px;
    text-align: center;
    background-color: red;
    color: white;
    display: none;

}

@media (max-width:300px){
#box-1{
    display: block;
    background-color: violet;
}

}

@media (max-width:500px ) and (min-width:301px){
    #box-2{
        display: block;
        background-color: rgb(173, 238, 130);
    }
    
    }
    @media (max-width:800px ) and (min-width:501px){
        #box-2{
            display: block;
            background-color: rgb(137, 130, 238);
        }
        
        }

        @media  (min-width:801px){
            #box-3{
                display: block;
                background-color: rgb(139, 238, 130);
            }
            
            }